<div class="body">
    <div>
        <h1>Angular Pipe for devices : XAF, USD, EUR </h1>
    </div>
    <form #monForm=ngForm class="form">
        <fieldset>
            <p>
                <label>Enter the device to convert</label><br/><br/>
                <select name="startdevise" id="anime" [(ngModel)]=startdevise>
					<option value="FCFA"> XAF </option>
					<option value="EURO"> EUR </option>
					<option value="DOLLARS"> USD </option>

				</select>
            </p>
            <br/><br/>
            <label>Veuillez entrer la somme à convertir</label><br/>
            <p><input type="number" name="val" id="val" require [(ngModel)]=val/></p><br/>
            <p>
                <label>Veuillez choisir la monnaie en laquelle vous souhaitez convertir</label><br/><br/>
                <select name="finaldevise" id="anime" [(ngModel)]=finaldevise>
					<option value="FCFA"> XAF </option>
					<option value="EURO"> EUR </option>
					<option value="DOLLARS"> USD </option>

				</select>
            </p><br/>
            <label><strong>Result</strong></label><br/><br/>
            <p name="resultat"> {{val|devisePipe:startdevise:finaldevise}}</p>
        </fieldset>

    </form>

</div>